name: Deploy Docker images

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  REGISTRY: ghcr.io

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    permissions: {}

    outputs:
      matrix_build_unit: ${{ steps.set.outputs.matrix_build_unit }}

    steps:
      - name: Set variables
        id: set
        run: |
          echo "matrix_build_unit=$(echo '
          [
            {
              "target_host": "devcontainer-claude",
              "image_name": "devcontainer-claude-amd64",
              "os": "ubuntu-24.04",
              "platform": "linux/amd64",
              "build": ${{ github.event_name != 'pull_request' }}
            },
            {
              "target_host": "devcontainer-claude",
              "image_name": "devcontainer-claude-arm64",
              "os": "ubuntu-24.04-arm",
              "platform": "linux/arm64",
              "build": true
            },
            {
              "target_host": "devcontainer",
              "image_name": "devcontainer-amd64",
              "os": "ubuntu-24.04",
              "platform": "linux/amd64",
              "build": true
            }
          ]
          ' | jq -c '[.[] | select(.build)]')" >> "$GITHUB_OUTPUT"

  build:
    needs: define-matrix

    permissions:
      contents: read

    strategy:
      matrix:
        build_unit: ${{ fromJson(needs.define-matrix.outputs.matrix_build_unit) }}

    runs-on: ${{ matrix.build_unit.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.build_unit.image_name }}

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build_image
        with:
          context: .
          file: devcontainer/Dockerfile
          push: false
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: ${{ matrix.build_unit.platform }}
          outputs: type=docker,dest=/tmp/image-${{ matrix.build_unit.image_name }}.tar
          secrets: |
            nix-config=access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          build-args: |
            SETUP_HOST=${{ matrix.build_unit.target_host }}

      - name: Upload image artifact
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: image-${{ matrix.build_unit.image_name }}
          path: |
            /tmp/image-${{ matrix.build_unit.image_name }}.tar
          retention-days: 1

  push-build-unit:
    needs: ["define-matrix", "build"]
    if: github.event_name != 'pull_request'

    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      matrix:
        build_unit: ${{ fromJson(needs.define-matrix.outputs.matrix_build_unit) }}

    runs-on: ${{ matrix.build_unit.os }}
    steps:
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad #v4.0.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download image artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: image-${{ matrix.build_unit.image_name }}
          path: /tmp

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.build_unit.image_name }}

      - name: Push Docker image
        id: push
        run: |
          set -ex

          docker load --input /tmp/image-${{ matrix.build_unit.image_name }}.tar
          docker push '${{ steps.meta.outputs.tags }}'
          docker inspect --format='{{index .RepoDigests 0}}' '${{ steps.meta.outputs.tags }}' \
            > '/tmp/image-digest-${{ matrix.build_unit.image_name }}.txt'
          echo "digest=$(sed 's/.*@//' < '/tmp/image-digest-${{ matrix.build_unit.image_name }}.txt')" >> "$GITHUB_OUTPUT"

      - name: Sign the published Docker image
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.push.outputs.digest }}
        run: |
          echo "${TAGS}" | xargs -I {} cosign sign --yes "{}@${DIGEST}"

      - name: Upload image digest artifact
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: image-digest-${{ matrix.build_unit.image_name }}
          path: |
            /tmp/image-digest-${{ matrix.build_unit.image_name }}.txt
          retention-days: 1

  push-manifest:
    needs: ["build", "push-build-unit"]
    if: github.event_name != 'pull_request'

    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      matrix:
        image:
          - image_name: devcontainer-claude
            image_name_amd64: devcontainer-claude-amd64
            image_name_arm64: devcontainer-claude-arm64
          - image_name: devcontainer
            image_name_amd64: devcontainer-amd64
            image_name_arm64: ""

    runs-on: ubuntu-latest
    steps:
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.image.image_name }}

      - name: Download image digest artifact for amd64
        if: matrix.image.image_name_amd64 != ''
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: image-digest-${{ matrix.image.image_name_amd64 }}
          path: /tmp

      - name: Download image digest artifact for arm64
        if: matrix.image.image_name_arm64 != ''
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: image-digest-${{ matrix.image.image_name_arm64 }}
          path: /tmp

      - name: Create and push manifest
        id: push
        run: |
          set -ex

          MANIFEST_CREATE_ARGS=( '${{ steps.meta.outputs.tags }}' )
          if [ -n '${{ matrix.image.image_name_amd64 }}' ]; then
            MANIFEST_CREATE_ARGS+=( "$(cat '/tmp/image-digest-${{ matrix.image.image_name_amd64 }}.txt')" )
          fi
          if [ -n '${{ matrix.image.image_name_arm64 }}' ]; then
            MANIFEST_CREATE_ARGS+=( "$(cat '/tmp/image-digest-${{ matrix.image.image_name_arm64 }}.txt')" )
          fi

          docker manifest create "${MANIFEST_CREATE_ARGS[@]}"
          docker manifest push '${{ steps.meta.outputs.tags }}'
